[submodule "website/stingalleman.dev"]
	path = website/stingalleman.dev
	url = git@github.com:stingalleman/stingalleman.dev.git
[submodule "discordbot/src"]
	path = discordbot/src
	url = git@github.com:stingalleman/bot.git
[submodule "discordbot/src/"]
	branch = main
